.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  border: 1px solid #0000005c;
}
.table-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
}
.table-cell {
  padding: 6px;
  font-size: 0.8em;
  display: flex;
}

form {
  display: flex;
  margin-top: 1em;
  justify-content: space-evenly;
  width: 50%;
}
input {
  width: 91.5px;
}
input:focus-visible {
  outline: none;
}

.btn {
  background: transparent;
  color: black;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.6;
}

.spinner {
  width: "300px";
  margin: "auto";
  display: "block";
  box-shadow: "unset";
}
